<section>

    <div class="AboutTop text-center">
        <div class="container">

            <h1>ABOUT US </h1>
            <h5 class="mt-3 ">Home / about</h5>
        </div>
    </div>
    <div class="botAbout">

        <div class="container">
            <p>Furns is a global furniture destination for somethings. We sell cutting-edge furniture and offer a wide variety of fashion-related content</p>

           
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <div class="aboutImg">
                    <img width="100%" height="" src="Images/_images_about_01.jpg" alt="">

                </div>
                <div class="details">


                    <h3>OUR STORES</h3>
                    <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse. Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor.
                        
                </p>
                </div>
                
            </div>
                <div class="col-6">
                    <div class="aboutImg">
                    <img width="100%" src="Images/_images_about_02.jpg" alt="">
                    </div>
                    <div class="details">

                        
                        <h3>OUR MISSION</h3>
                        
                        <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse. Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>