<%- include('../layout/HeadSection') -%>

    <body>
        <main class="homepage">
            <div class="container">

                <div class="row h-100 d-flex justify-content-center align-items-center">
                    <div class="col-6">
                        <h3>New Products</h3>
                        <h1>Flexible Chair</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, doloribus praesentium. Velit, quia accusamus! Recusandae</p>
                        <button>Shop Now</button>

                    </div>
                    <div class="col-6">
                        <img src="/Images/slider-1.png" alt="">

                    </div>
                </div>
            </div>
        </main>
    </body>